In [2]:
import pandas as pd
import pymongo

# Extract - Web Scraping

In [3]:
#States to scrape from website
states = {

    'Georgia': 'GA',
    'Illinois': 'IL',
    'New York': 'NY',
}

In [4]:
state_list=[]
for key, value in states.items():
    state = value.lower()
    state_list.append(state)

In [5]:
tables_df=pd.DataFrame()

In [6]:

table=[]
table_list=[]
for state in state_list:
    table=pd.read_html(f'https://www.bls.gov/oes/current/oes_{state}.htm')

    table[0]['state']=state
    table_list.append(table)

In [14]:
table_list[1]

[                                       Occupation code  \
 0                                                  NaN
 1                                              00-0000
 2                                              11-0000
 3                                              11-1011
 4                                              11-1021
 ..                                                 ...
 779                                            53-7081
 780                                            53-7111
 781                                            53-7121
 782                                            53-7199
 783  BROWSE OES  OES HOME  OES OVERVIEW  DATA AVAIL...

     Occupation title (click on the occupation title to view its profile)  \
 0                                                  NaN
 1                                      All Occupations
 2                               Management Occupations
 3                                     Chief Executives
 4                      General and Operations Managers
 ..                                                 ...
 779          Refuse and Recyclable Material Collectors
 780                         Mine Shuttle Car Operators
 781                  Tank Car, Truck, and Ship Loaders
 782                 Material Moving Workers, All Other
 783  May 2018 State Occupational Employment and Wag...

       Level Employment Employment RSE Employment per 1,000 jobs  \
 0       NaN        NaN            NaN                       NaN
 1     total    5991270           0.3%                  1000.000
 2     major     453460           1.1%                    75.687
 3    detail       9650           3.9%                     1.611
 4    detail     122790           1.6%                    20.494
 ..      ...        ...            ...                       ...
 779  detail       4420          13.9%                     0.738
 780  detail        160          18.9%                     0.027
 781  detail        190          32.9%                     0.031
 782  detail        300          15.3%                     0.050
 783     NaN        NaN            NaN                       NaN

     Location quotient Median hourly wage Mean hourly wage Annual mean wage  \
 0                 NaN                NaN              NaN              NaN
 1                1.00             $19.21           $25.86          $53,790
 2                1.44             $47.87           $55.57         $115,580
 3                1.19                (5)          $110.61         $230,070
 4                1.30             $49.35           $60.57         $125,990
 ..                ...                ...              ...              ...
 779              0.90             $31.79           $27.73          $57,680
 780              2.32             $27.87           $27.28          $56,730
 781              0.50             $18.42           $20.11          $41,830
 782              0.27             $14.92           $17.62          $36,650
 783               NaN                NaN              NaN              NaN

     Mean wage RSE state
 0             NaN    il
 1            0.6%    il
 2            0.6%    il
 3            1.8%    il
 4            0.9%    il
 ..            ...   ...
 779          4.2%    il
 780          4.1%    il
 781          6.1%    il
 782          8.0%    il
 783           NaN    il

 [784 rows x 12 columns],     Occupation code  \
 0               NaN
 1           00-0000
 2           11-0000
 3           11-1011
 4           11-1021
 ..              ...
 778         53-7073
 779         53-7081
 780         53-7111
 781         53-7121
 782         53-7199

     Occupation title (click on the occupation title to view its profile)  \
 0                                                  NaN
 1                                      All Occupations
 2                               Management Occupations
 3                                     Chief Executives
 4                      General and Operations Managers
 ..                                                 ...
 778                                   Wellhead Pumpers
 779          Refuse and Recyclable Material Collectors
 780                         Mine Shuttle Car Operators
 781                  Tank Car, Truck, and Ship Loaders
 782                 Material Moving Workers, All Other

       Level Employment Employment RSE Employment per 1,000 jobs  \
 0       NaN        NaN            NaN                       NaN
 1     total    5991270           0.3%                  1000.000
 2     major     453460           1.1%                    75.687
 3    detail       9650           3.9%                     1.611
 4    detail     122790           1.6%                    20.494
 ..      ...        ...            ...                       ...
 778  detail         50          27.0%                     0.009
 779  detail       4420          13.9%                     0.738
 780  detail        160          18.9%                     0.027
 781  detail        190          32.9%                     0.031
 782  detail        300          15.3%                     0.050

     Location quotient Median hourly wage Mean hourly wage Annual mean wage  \
 0                 NaN                NaN              NaN              NaN
 1                1.00             $19.21           $25.86          $53,790
 2                1.44             $47.87           $55.57         $115,580
 3                1.19                (5)          $110.61         $230,070
 4                1.30             $49.35           $60.57         $125,990
 ..                ...                ...              ...              ...
 778              0.10             $14.56           $16.22          $33,730
 779              0.90             $31.79           $27.73          $57,680
 780              2.32             $27.87           $27.28          $56,730
 781              0.50             $18.42           $20.11          $41,830
 782              0.27             $14.92           $17.62          $36,650

     Mean wage RSE
 0             NaN
 1            0.6%
 2            0.6%
 3            1.8%
 4            0.9%
 ..            ...
 778         12.8%
 779          4.2%
 780          4.1%
 781          6.1%
 782          8.0%

 [783 rows x 11 columns]]

In [11]:
table_list[2]

[                                       Occupation code  \
 0                                                  NaN
 1                                              00-0000
 2                                              11-0000
 3                                              11-1011
 4                                              11-1021
 ..                                                 ...
 793                                            53-7064
 794                                            53-7071
 795                                            53-7081
 796                                            53-7199
 797  BROWSE OES  OES HOME  OES OVERVIEW  DATA AVAIL...

     Occupation title (click on the occupation title to view its profile)  \
 0                                                  NaN
 1                                      All Occupations
 2                               Management Occupations
 3                                     Chief Executives
 4                      General and Operations Managers
 ..                                                 ...
 793                        Packers and Packagers, Hand
 794   Gas Compressor and Gas Pumping Station Operators
 795          Refuse and Recyclable Material Collectors
 796                 Material Moving Workers, All Other
 797  May 2018 State Occupational Employment and Wag...

       Level Employment Employment RSE Employment per 1,000 jobs  \
 0       NaN        NaN            NaN                       NaN
 1     total    9385620           0.2%                  1000.000
 2     major     482770           0.8%                    51.438
 3    detail      10430           4.4%                     1.111
 4    detail     163250           1.6%                    17.394
 ..      ...        ...            ...                       ...
 793  detail      23220           5.1%                     2.474
 794  detail         70          25.7%                     0.007
 795  detail      10480           3.5%                     1.116
 796  detail        940          18.9%                     0.100
 797     NaN        NaN            NaN                       NaN

     Location quotient Median hourly wage Mean hourly wage Annual mean wage  \
 0                 NaN                NaN              NaN              NaN
 1                1.00             $21.63           $29.75          $61,870
 2                0.98             $64.36           $74.95         $155,900
 3                0.82                (5)          $105.79         $220,040
 4                1.10             $62.35           $75.13         $156,260
 ..                ...                ...              ...              ...
 793              0.54             $12.47           $13.58          $28,240
 794              0.31             $28.62           $28.10          $58,440
 795              1.36             $28.58           $27.27          $56,710
 796              0.54             $22.78           $22.09          $45,940
 797               NaN                NaN              NaN              NaN

     Mean wage RSE state
 0             NaN    ny
 1            0.5%    ny
 2            0.7%    ny
 3            2.9%    ny
 4            0.9%    ny
 ..            ...   ...
 793          1.0%    ny
 794          6.7%    ny
 795          2.3%    ny
 796          7.9%    ny
 797           NaN    ny

 [798 rows x 12 columns],     Occupation code  \
 0               NaN
 1           00-0000
 2           11-0000
 3           11-1011
 4           11-1021
 ..              ...
 792         53-7063
 793         53-7064
 794         53-7071
 795         53-7081
 796         53-7199

     Occupation title (click on the occupation title to view its profile)  \
 0                                                  NaN
 1                                      All Occupations
 2                               Management Occupations
 3                                     Chief Executives
 4                      General and Operations Managers
 ..                                                 ...
 792                     Machine Feeders and Offbearers
 793                        Packers and Packagers, Hand
 794   Gas Compressor and Gas Pumping Station Operators
 795          Refuse and Recyclable Material Collectors
 796                 Material Moving Workers, All Other

       Level Employment Employment RSE Employment per 1,000 jobs  \
 0       NaN        NaN            NaN                       NaN
 1     total    9385620           0.2%                  1000.000
 2     major     482770           0.8%                    51.438
 3    detail      10430           4.4%                     1.111
 4    detail     163250           1.6%                    17.394
 ..      ...        ...            ...                       ...
 792  detail       1370           9.9%                     0.146
 793  detail      23220           5.1%                     2.474
 794  detail         70          25.7%                     0.007
 795  detail      10480           3.5%                     1.116
 796  detail        940          18.9%                     0.100

     Location quotient Median hourly wage Mean hourly wage Annual mean wage  \
 0                 NaN                NaN              NaN              NaN
 1                1.00             $21.63           $29.75          $61,870
 2                0.98             $64.36           $74.95         $155,900
 3                0.82                (5)          $105.79         $220,040
 4                1.10             $62.35           $75.13         $156,260
 ..                ...                ...              ...              ...
 792              0.32             $13.76           $15.13          $31,470
 793              0.54             $12.47           $13.58          $28,240
 794              0.31             $28.62           $28.10          $58,440
 795              1.36             $28.58           $27.27          $56,710
 796              0.54             $22.78           $22.09          $45,940

     Mean wage RSE
 0             NaN
 1            0.5%
 2            0.7%
 3            2.9%
 4            0.9%
 ..            ...
 792          3.2%
 793          1.0%
 794          6.7%
 795          2.3%
 796          7.9%

 [797 rows x 11 columns]]

# Transform

In [18]:
table_df=pd.DataFrame()
for table in table_list:
    tables_df=pd.concat([tables_df,table[0]])

In [22]:
tables_df[tables_df['state']=='il']

,Occupation code,Occupation title (click on the occupation title to view its profile),Level,Employment,Employment RSE,"Employment per 1,000 jobs",Location quotient,Median hourly wage,Mean hourly wage,Annual mean wage,Mean wage RSE,state
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,il
1,00-0000,All Occupations,total,5991270,0.3%,1000.000,1.00,$19.21,$25.86,"$53,790",0.6%,il
2,11-0000,Management Occupations,major,453460,1.1%,75.687,1.44,$47.87,$55.57,"$115,580",0.6%,il
3,11-1011,Chief Executives,detail,9650,3.9%,1.611,1.19,(5),$110.61,"$230,070",1.8%,il
4,11-1021,General and Operations Managers,detail,122790,1.6%,20.494,1.30,$49.35,$60.57,"$125,990",0.9%,il
...,...,...,...,...,...,...,...,...,...,...,...,...
779,53-7081,Refuse and Recyclable Material Collectors,detail,4420,13.9%,0.738,0.90,$31.79,$27.73,"$57,680",4.2%,il
780,53-7111,Mine Shuttle Car Operators,detail,160,18.9%,0.027,2.32,$27.87,$27.28,"$56,730",4.1%,il
781,53-7121,"Tank Car, Truck, and Ship Loaders",detail,190,32.9%,0.031,0.50,$18.42,$20.11,"$41,830",6.1%,il
782,53-7199,"Material Moving Workers, All Other",detail,300,15.3%,0.050,0.27,$14.92,$17.62,"$36,650",8.0%,il
783,BROWSE OES OES HOME OES OVERVIEW DATA AVAIL...,May 2018 State Occupational Employment and Wag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,il

In [23]:
tables_df=tables_df.dropna().reset_index(drop=True)
tables_df=tables_df[tables_df['Level']=='major']
tables_df.head()

,Occupation code,Occupation title (click on the occupation title to view its profile),Level,Employment,Employment RSE,"Employment per 1,000 jobs",Location quotient,Median hourly wage,Mean hourly wage,Annual mean wage,Mean wage RSE,state
1,11-0000,Management Occupations,major,482770,0.8%,51.438,0.98,$64.36,$74.95,"$155,900",0.7%,ny
36,13-0000,Business and Financial Operations Occupations,major,571050,1.4%,60.843,1.14,$38.14,$45.55,"$94,740",0.9%,ny
66,15-0000,Computer and Mathematical Occupations,major,264620,1.4%,28.194,0.93,$43.30,$46.79,"$97,320",0.8%,ny
85,17-0000,Architecture and Engineering Occupations,major,112120,2.1%,11.946,0.68,$39.02,$43.06,"$89,560",1.0%,ny
119,19-0000,"Life, Physical, and Social Science Occupations",major,67740,3.6%,7.218,0.89,$32.06,$36.67,"$76,270",1.6%,ny

In [24]:
tables_df['Occupation code']=tables_df['Occupation code'].apply(lambda x: x.replace('-','')).astype(float)
tables_df.head()

,Occupation code,Occupation title (click on the occupation title to view its profile),Level,Employment,Employment RSE,"Employment per 1,000 jobs",Location quotient,Median hourly wage,Mean hourly wage,Annual mean wage,Mean wage RSE,state
1,110000.0,Management Occupations,major,482770,0.8%,51.438,0.98,$64.36,$74.95,"$155,900",0.7%,ny
36,130000.0,Business and Financial Operations Occupations,major,571050,1.4%,60.843,1.14,$38.14,$45.55,"$94,740",0.9%,ny
66,150000.0,Computer and Mathematical Occupations,major,264620,1.4%,28.194,0.93,$43.30,$46.79,"$97,320",0.8%,ny
85,170000.0,Architecture and Engineering Occupations,major,112120,2.1%,11.946,0.68,$39.02,$43.06,"$89,560",1.0%,ny
119,190000.0,"Life, Physical, and Social Science Occupations",major,67740,3.6%,7.218,0.89,$32.06,$36.67,"$76,270",1.6%,ny

In [25]:
cols=['Annual mean wage','Employment RSE','Median hourly wage','Mean hourly wage','Mean wage RSE','Employment','Employment per 1,000 jobs','Location quotient']
for col in cols:
    tables_df[col]=tables_df[col].apply(lambda x: x.replace('$','').replace('(','').replace('%','').replace(')','').replace(',','')).astype(float)
tables_df

,Occupation code,Occupation title (click on the occupation title to view its profile),Level,Employment,Employment RSE,"Employment per 1,000 jobs",Location quotient,Median hourly wage,Mean hourly wage,Annual mean wage,Mean wage RSE,state
1,110000.0,Management Occupations,major,482770.0,0.8,51.438,0.98,64.36,74.95,155900.0,0.7,ny
36,130000.0,Business and Financial Operations Occupations,major,571050.0,1.4,60.843,1.14,38.14,45.55,94740.0,0.9,ny
66,150000.0,Computer and Mathematical Occupations,major,264620.0,1.4,28.194,0.93,43.30,46.79,97320.0,0.8,ny
85,170000.0,Architecture and Engineering Occupations,major,112120.0,2.1,11.946,0.68,39.02,43.06,89560.0,1.0,ny
119,190000.0,"Life, Physical, and Social Science Occupations",major,67740.0,3.6,7.218,0.89,32.06,36.67,76270.0,1.6,ny
...,...,...,...,...,...,...,...,...,...,...,...,...
2869,450000.0,"Farming, Fishing, and Forestry Occupations",major,5260.0,28.2,0.561,0.17,15.37,18.05,37540.0,1.7,ny
2882,470000.0,Construction and Extraction Occupations,major,346320.0,1.1,36.899,0.90,27.45,31.14,64770.0,0.8,ny
2936,490000.0,"Installation, Maintenance, and Repair Occupations",major,311850.0,1.4,33.226,0.85,23.97,25.75,53560.0,0.8,ny
2987,510000.0,Production Occupations,major,327890.0,1.3,34.935,0.55,17.15,19.74,41060.0,0.5,ny
3089,530000.0,Transportation and Material Moving Occupations,major,515160.0,1.1,54.888,0.78,17.52,20.66,42960.0,1.5,ny

In [26]:
tables_states=tables_df.reset_index(drop=True)
tables_states.head()

,Occupation code,Occupation title (click on the occupation title to view its profile),Level,Employment,Employment RSE,"Employment per 1,000 jobs",Location quotient,Median hourly wage,Mean hourly wage,Annual mean wage,Mean wage RSE,state
0,110000.0,Management Occupations,major,482770.0,0.8,51.438,0.98,64.36,74.95,155900.0,0.7,ny
1,130000.0,Business and Financial Operations Occupations,major,571050.0,1.4,60.843,1.14,38.14,45.55,94740.0,0.9,ny
2,150000.0,Computer and Mathematical Occupations,major,264620.0,1.4,28.194,0.93,43.30,46.79,97320.0,0.8,ny
3,170000.0,Architecture and Engineering Occupations,major,112120.0,2.1,11.946,0.68,39.02,43.06,89560.0,1.0,ny
4,190000.0,"Life, Physical, and Social Science Occupations",major,67740.0,3.6,7.218,0.89,32.06,36.67,76270.0,1.6,ny

In [29]:
set(tables_states.state)

{'ga', 'il', 'ny'}

In [39]:
states_df=tables_states.rename(columns={'Occupation title (click on the occupation title to view its profile)':'Occupation title'})

,Occupation code,Occupation title,Level,Employment,Employment RSE,"Employment per 1,000 jobs",Location quotient,Median hourly wage,Mean hourly wage,Annual mean wage,Mean wage RSE,state
0,110000.0,Management Occupations,major,482770.0,0.8,51.438,0.98,64.36,74.95,155900.0,0.7,ny
1,130000.0,Business and Financial Operations Occupations,major,571050.0,1.4,60.843,1.14,38.14,45.55,94740.0,0.9,ny
2,150000.0,Computer and Mathematical Occupations,major,264620.0,1.4,28.194,0.93,43.30,46.79,97320.0,0.8,ny
3,170000.0,Architecture and Engineering Occupations,major,112120.0,2.1,11.946,0.68,39.02,43.06,89560.0,1.0,ny
4,190000.0,"Life, Physical, and Social Science Occupations",major,67740.0,3.6,7.218,0.89,32.06,36.67,76270.0,1.6,ny
...,...,...,...,...,...,...,...,...,...,...,...,...
83,450000.0,"Farming, Fishing, and Forestry Occupations",major,5260.0,28.2,0.561,0.17,15.37,18.05,37540.0,1.7,ny
84,470000.0,Construction and Extraction Occupations,major,346320.0,1.1,36.899,0.90,27.45,31.14,64770.0,0.8,ny
85,490000.0,"Installation, Maintenance, and Repair Occupations",major,311850.0,1.4,33.226,0.85,23.97,25.75,53560.0,0.8,ny
86,510000.0,Production Occupations,major,327890.0,1.3,34.935,0.55,17.15,19.74,41060.0,0.5,ny
87,530000.0,Transportation and Material Moving Occupations,major,515160.0,1.1,54.888,0.78,17.52,20.66,42960.0,1.5,ny

In [40]:
tables_states.to_csv("ga_il_ny.csv", index=False, header=True)

In [43]:
state_dict=states_df.to_dict(orient='records')

In [44]:
state_dict

[{'Occupation code': 110000.0,
  'Occupation title': 'Management Occupations',
  'Level': 'major',
  'Employment': 482770.0,
  'Employment RSE': 0.8,
  'Employment per 1,000 jobs': 51.438,
  'Location quotient': 0.98,
  'Median hourly wage': 64.36,
  'Mean hourly wage': 74.95,
  'Annual mean wage': 155900.0,
  'Mean wage RSE': 0.7,
  'state': 'ny'},
 {'Occupation code': 130000.0,
  'Occupation title': 'Business and Financial Operations Occupations',
  'Level': 'major',
  'Employment': 571050.0,
  'Employment RSE': 1.4,
  'Employment per 1,000 jobs': 60.843,
  'Location quotient': 1.14,
  'Median hourly wage': 38.14,
  'Mean hourly wage': 45.55,
  'Annual mean wage': 94740.0,
  'Mean wage RSE': 0.9,
  'state': 'ny'},
 {'Occupation code': 150000.0,
  'Occupation title': 'Computer and Mathematical Occupations',
  'Level': 'major',
  'Employment': 264620.0,
  'Employment RSE': 1.4,
  'Employment per 1,000 jobs': 28.194,
  'Location quotient': 0.93,
  'Median hourly wage': 43.3,
  'Mean hourly wage': 46.79,
  'Annual mean wage': 97320.0,
  'Mean wage RSE': 0.8,
  'state': 'ny'},
 {'Occupation code': 170000.0,
  'Occupation title': 'Architecture and Engineering Occupations',
  'Level': 'major',
  'Employment': 112120.0,
  'Employment RSE': 2.1,
  'Employment per 1,000 jobs': 11.946,
  'Location quotient': 0.68,
  'Median hourly wage': 39.02,
  'Mean hourly wage': 43.06,
  'Annual mean wage': 89560.0,
  'Mean wage RSE': 1.0,
  'state': 'ny'},
 {'Occupation code': 190000.0,
  'Occupation title': 'Life, Physical, and Social Science Occupations',
  'Level': 'major',
  'Employment': 67740.0,
  'Employment RSE': 3.6,
  'Employment per 1,000 jobs': 7.218,
  'Location quotient': 0.89,
  'Median hourly wage': 32.06,
  'Mean hourly wage': 36.67,
  'Annual mean wage': 76270.0,
  'Mean wage RSE': 1.6,
  'state': 'ny'},
 {'Occupation code': 210000.0,
  'Occupation title': 'Community and Social Service Occupations',
  'Level': 'major',
  'Employment': 191680.0,
  'Employment RSE': 1.3,
  'Employment per 1,000 jobs': 20.422,
  'Location quotient': 1.36,
  'Median hourly wage': 23.45,
  'Mean hourly wage': 25.78,
  'Annual mean wage': 53620.0,
  'Mean wage RSE': 1.3,
  'state': 'ny'},
 {'Occupation code': 230000.0,
  'Occupation title': 'Legal Occupations',
  'Level': 'major',
  'Employment': 114010.0,
  'Employment RSE': 1.7,
  'Employment per 1,000 jobs': 12.148,
  'Location quotient': 1.56,
  'Median hourly wage': 51.14,
  'Mean hourly wage': 65.45,
  'Annual mean wage': 136140.0,
  'Mean wage RSE': 2.4,
  'state': 'ny'},
 {'Occupation code': 250000.0,
  'Occupation title': 'Education, Training, and Library Occupations',
  'Level': 'major',
  'Employment': 690330.0,
  'Employment RSE': 1.2,
  'Employment per 1,000 jobs': 73.552,
  'Location quotient': 1.21,
  'Median hourly wage': 28.84,
  'Mean hourly wage': 33.78,
  'Annual mean wage': 70260.0,
  'Mean wage RSE': 1.8,
  'state': 'ny'},
 {'Occupation code': 270000.0,
  'Occupation title': 'Arts, Design, Entertainment, Sports, and Media Occupations',
  'Level': 'major',
  'Employment': 207900.0,
  'Employment RSE': 1.7,
  'Employment per 1,000 jobs': 22.151,
  'Location quotient': 1.64,
  'Median hourly wage': 31.04,
  'Mean hourly wage': 38.4,
  'Annual mean wage': 79870.0,
  'Mean wage RSE': 1.2,
  'state': 'ny'},
 {'Occupation code': 290000.0,
  'Occupation title': 'Healthcare Practitioners and Technical Occupations',
  'Level': 'major',
  'Employment': 545670.0,
  'Employment RSE': 1.0,
  'Employment per 1,000 jobs': 58.138,
  'Location quotient': 0.97,
  'Median hourly wage': 37.3,
  'Mean hourly wage': 43.53,
  'Annual mean wage': 90540.0,
  'Mean wage RSE': 1.2,
  'state': 'ny'},
 {'Occupation code': 310000.0,
  'Occupation title': 'Healthcare Support Occupations',
  'Level': 'major',
  'Employment': 376080.0,
  'Employment RSE': 2.0,
  'Employment per 1,000 jobs': 40.07,
  'Location quotient': 1.41,
  'Median hourly wage': 13.9,
  'Mean hourly wage': 15.53,
  'Annual mean wage': 32310.0,
  'Mean wage RSE': 1.1,
  'state': 'ny'},
 {'Occupation code': 330000.0,
  'Occupation title': 'Protective Service Occupations',
  'Level': 'major',
  'Employment': 313240.0,
  'Employment RSE': 2.0,
  'Employment per 1,000 jobs': 33.375,
  'Location quotient': 1.41,
  'Median hourly wage': 22.11,
  'Mean hourly wage': 26.38,
  'Annual mean wage': 54870.0,
  'Mean wage RSE': 2.9,
  'state': 'ny'},
 {'Occupation code': 350000.0,
  'Occupation title': 'Food Preparation and Serving Related Occupations',
  'Level': 'major',
  'Employment': 773400.0,
  'Employment RSE': 0.8,
  'Employment per 1,000 jobs': 82.402,
  'Location quotient': 0.89,
  'Median hourly wage': 12.53,
  'Mean hourly wage': 14.91,
  'Annual mean wage': 31000.0,
  'Mean wage RSE': 0.8,
  'state': 'ny'},
 {'Occupation code': 370000.0,
  'Occupation title': 'Building and Grounds Cleaning and Maintenance Occupations',
  'Level': 'major',
  'Employment': 310580.0,
  'Employment RSE': 1.2,
  'Employment per 1,000 jobs': 33.091,
  'Location quotient': 1.08,
  'Median hourly wage': 15.45,
  'Mean hourly wage': 17.54,
  'Annual mean wage': 36470.0,
  'Mean wage RSE': 0.8,
  'state': 'ny'},
 {'Occupation code': 390000.0,
  'Occupation title': 'Personal Care and Service Occupations',
  'Level': 'major',
  'Employment': 454170.0,
  'Employment RSE': 1.5,
  'Employment per 1,000 jobs': 48.39,
  'Location quotient': 1.28,
  'Median hourly wage': 12.97,
  'Mean hourly wage': 15.31,
  'Annual mean wage': 31830.0,
  'Mean wage RSE': 0.9,
  'state': 'ny'},
 {'Occupation code': 410000.0,
  'Occupation title': 'Sales and Related Occupations',
  'Level': 'major',
  'Employment': 923140.0,
  'Employment RSE': 0.9,
  'Employment per 1,000 jobs': 98.357,
  'Location quotient': 0.98,
  'Median hourly wage': 14.76,
  'Mean hourly wage': 26.06,
  'Annual mean wage': 54200.0,
  'Mean wage RSE': 1.7,
  'state': 'ny'},
 {'Occupation code': 430000.0,
  'Occupation title': 'Office and Administrative Support Occupations',
  'Level': 'major',
  'Employment': 1480630.0,
  'Employment RSE': 0.6,
  'Employment per 1,000 jobs': 157.755,
  'Location quotient': 1.05,
  'Median hourly wage': 19.01,
  'Mean hourly wage': 21.28,
  'Annual mean wage': 44250.0,
  'Mean wage RSE': 0.4,
  'state': 'ny'},
 {'Occupation code': 450000.0,
  'Occupation title': 'Farming, Fishing, and Forestry Occupations',
  'Level': 'major',
  'Employment': 5260.0,
  'Employment RSE': 28.2,
  'Employment per 1,000 jobs': 0.561,
  'Location quotient': 0.17,
  'Median hourly wage': 15.37,
  'Mean hourly wage': 18.05,
  'Annual mean wage': 37540.0,
  'Mean wage RSE': 1.7,
  'state': 'ny'},
 {'Occupation code': 470000.0,
  'Occupation title': 'Construction and Extraction Occupations',
  'Level': 'major',
  'Employment': 346320.0,
  'Employment RSE': 1.1,
  'Employment per 1,000 jobs': 36.899,
  'Location quotient': 0.9,
  'Median hourly wage': 27.45,
  'Mean hourly wage': 31.14,
  'Annual mean wage': 64770.0,
  'Mean wage RSE': 0.8,
  'state': 'ny'},
 {'Occupation code': 490000.0,
  'Occupation title': 'Installation, Maintenance, and Repair Occupations',
  'Level': 'major',
  'Employment': 311850.0,
  'Employment RSE': 1.4,
  'Employment per 1,000 jobs': 33.226,
  'Location quotient': 0.85,
  'Median hourly wage': 23.97,
  'Mean hourly wage': 25.75,
  'Annual mean wage': 53560.0,
  'Mean wage RSE': 0.8,
  'state': 'ny'},
 {'Occupation code': 510000.0,
  'Occupation title': 'Production Occupations',
  'Level': 'major',
  'Employment': 327890.0,
  'Employment RSE': 1.3,
  'Employment per 1,000 jobs': 34.935,
  'Location quotient': 0.55,
  'Median hourly wage': 17.15,
  'Mean hourly wage': 19.74,
  'Annual mean wage': 41060.0,
  'Mean wage RSE': 0.5,
  'state': 'ny'},
 {'Occupation code': 530000.0,
  'Occupation title': 'Transportation and Material Moving Occupations',
  'Level': 'major',
  'Employment': 515160.0,
  'Employment RSE': 1.1,
  'Employment per 1,000 jobs': 54.888,
  'Location quotient': 0.78,
  'Median hourly wage': 17.52,
  'Mean hourly wage': 20.66,
  'Annual mean wage': 42960.0,
  'Mean wage RSE': 1.5,
  'state': 'ny'},
 {'Occupation code': 110000.0,
  'Occupation title': 'Management Occupations',
  'Level': 'major',
  'Employment': 248840.0,
  'Employment RSE': 1.0,
  'Employment per 1,000 jobs': 56.622,
  'Location quotient': 1.08,
  'Median hourly wage': 49.14,
  'Mean hourly wage': 56.69,
  'Annual mean wage': 117910.0,
  'Mean wage RSE': 0.6,
  'state': 'ga'},
 {'Occupation code': 130000.0,
  'Occupation title': 'Business and Financial Operations Occupations',
  'Level': 'major',
  'Employment': 242400.0,
  'Employment RSE': 1.3,
  'Employment per 1,000 jobs': 55.156,
  'Location quotient': 1.03,
  'Median hourly wage': 31.29,
  'Mean hourly wage': 35.06,
  'Annual mean wage': 72920.0,
  'Mean wage RSE': 0.7,
  'state': 'ga'},
 {'Occupation code': 150000.0,
  'Occupation title': 'Computer and Mathematical Occupations',
  'Level': 'major',
  'Employment': 148690.0,
  'Employment RSE': 2.0,
  'Employment per 1,000 jobs': 33.834,
  'Location quotient': 1.12,
  'Median hourly wage': 40.73,
  'Mean hourly wage': 42.59,
  'Annual mean wage': 88590.0,
  'Mean wage RSE': 1.1,
  'state': 'ga'},
 {'Occupation code': 170000.0,
  'Occupation title': 'Architecture and Engineering Occupations',
  'Level': 'major',
  'Employment': 62570.0,
  'Employment RSE': 2.1,
  'Employment per 1,000 jobs': 14.238,
  'Location quotient': 0.81,
  'Median hourly wage': 36.57,
  'Mean hourly wage': 38.93,
  'Annual mean wage': 80970.0,
  'Mean wage RSE': 1.3,
  'state': 'ga'},
 {'Occupation code': 190000.0,
  'Occupation title': 'Life, Physical, and Social Science Occupations',
  'Level': 'major',
  'Employment': 25580.0,
  'Employment RSE': 2.3,
  'Employment per 1,000 jobs': 5.822,
  'Location quotient': 0.72,
  'Median hourly wage': 28.85,
  'Mean hourly wage': 32.51,
  'Annual mean wage': 67610.0,
  'Mean wage RSE': 2.7,
  'state': 'ga'},
 {'Occupation code': 210000.0,
  'Occupation title': 'Community and Social Service Occupations',
  'Level': 'major',
  'Employment': 50540.0,
  'Employment RSE': 2.3,
  'Employment per 1,000 jobs': 11.5,
  'Location quotient': 0.77,
  'Median hourly wage': 20.11,
  'Mean hourly wage': 22.49,
  'Annual mean wage': 46770.0,
  'Mean wage RSE': 3.3,
  'state': 'ga'},
 {'Occupation code': 230000.0,
  'Occupation title': 'Legal Occupations',
  'Level': 'major',
  'Employment': 33410.0,
  'Employment RSE': 2.2,
  'Employment per 1,000 jobs': 7.602,
  'Location quotient': 0.98,
  'Median hourly wage': 36.0,
  'Mean hourly wage': 48.8,
  'Annual mean wage': 101500.0,
  'Mean wage RSE': 3.9,
  'state': 'ga'},
 {'Occupation code': 250000.0,
  'Occupation title': 'Education, Training, and Library Occupations',
  'Level': 'major',
  'Employment': 270530.0,
  'Employment RSE': 1.3,
  'Employment per 1,000 jobs': 61.558,
  'Location quotient': 1.01,
  'Median hourly wage': 23.19,
  'Mean hourly wage': 24.58,
  'Annual mean wage': 51130.0,
  'Mean wage RSE': 2.8,
  'state': 'ga'},
 {'Occupation code': 270000.0,
  'Occupation title': 'Arts, Design, Entertainment, Sports, and Media Occupations',
  'Level': 'major',
  'Employment': 61040.0,
  'Employment RSE': 4.3,
  'Employment per 1,000 jobs': 13.889,
  'Location quotient': 1.03,
  'Median hourly wage': 22.48,
  'Mean hourly wage': 26.37,
  'Annual mean wage': 54850.0,
  'Mean wage RSE': 3.2,
  'state': 'ga'},
 {'Occupation code': 290000.0,
  'Occupation title': 'Healthcare Practitioners and Technical Occupations',
  'Level': 'major',
  'Employment': 247850.0,
  'Employment RSE': 1.3,
  'Employment per 1,000 jobs': 56.397,
  'Location quotient': 0.94,
  'Median hourly wage': 29.56,
  'Mean hourly wage': 36.39,
  'Annual mean wage': 75690.0,
  'Mean wage RSE': 1.3,
  'state': 'ga'},
 {'Occupation code': 310000.0,
  'Occupation title': 'Healthcare Support Occupations',
  'Level': 'major',
  'Employment': 103640.0,
  'Employment RSE': 2.3,
  'Employment per 1,000 jobs': 23.582,
  'Location quotient': 0.83,
  'Median hourly wage': 13.41,
  'Mean hourly wage': 14.38,
  'Annual mean wage': 29910.0,
  'Mean wage RSE': 0.9,
  'state': 'ga'},
 {'Occupation code': 330000.0,
  'Occupation title': 'Protective Service Occupations',
  'Level': 'major',
  'Employment': 106440.0,
  'Employment RSE': 2.4,
  'Employment per 1,000 jobs': 24.221,
  'Location quotient': 1.02,
  'Median hourly wage': 17.4,
  'Mean hourly wage': 18.99,
  'Annual mean wage': 39510.0,
  'Mean wage RSE': 1.4,
  'state': 'ga'},
 {'Occupation code': 350000.0,
  'Occupation title': 'Food Preparation and Serving Related Occupations',
  'Level': 'major',
  'Employment': 418900.0,
  'Employment RSE': 0.9,
  'Employment per 1,000 jobs': 95.319,
  'Location quotient': 1.03,
  'Median hourly wage': 9.29,
  'Mean hourly wage': 10.35,
  'Annual mean wage': 21520.0,
  'Mean wage RSE': 0.6,
  'state': 'ga'},
 {'Occupation code': 370000.0,
  'Occupation title': 'Building and Grounds Cleaning and Maintenance Occupations',
  'Level': 'major',
  'Employment': 112340.0,
  'Employment RSE': 1.6,
  'Employment per 1,000 jobs': 25.563,
  'Location quotient': 0.84,
  'Median hourly wage': 11.6,
  'Mean hourly wage': 12.69,
  'Annual mean wage': 26400.0,
  'Mean wage RSE': 1.0,
  'state': 'ga'},
 {'Occupation code': 390000.0,
  'Occupation title': 'Personal Care and Service Occupations',
  'Level': 'major',
  'Employment': 108110.0,
  'Employment RSE': 2.9,
  'Employment per 1,000 jobs': 24.6,
  'Location quotient': 0.65,
  'Median hourly wage': 10.59,
  'Mean hourly wage': 12.52,
  'Annual mean wage': 26040.0,
  'Mean wage RSE': 1.3,
  'state': 'ga'},
 {'Occupation code': 410000.0,
  'Occupation title': 'Sales and Related Occupations',
  'Level': 'major',
  'Employment': 472320.0,
  'Employment RSE': 1.2,
  'Employment per 1,000 jobs': 107.474,
  'Location quotient': 1.07,
  'Median hourly wage': 12.05,
  'Mean hourly wage': 18.16,
  'Annual mean wage': 37770.0,
  'Mean wage RSE': 1.0,
  'state': 'ga'},
 {'Occupation code': 430000.0,
  'Occupation title': 'Office and Administrative Support Occupations',
  'Level': 'major',
  'Employment': 643490.0,
  'Employment RSE': 0.9,
  'Employment per 1,000 jobs': 146.422,
  'Location quotient': 0.97,
  'Median hourly wage': 16.17,
  'Mean hourly wage': 17.63,
  'Annual mean wage': 36670.0,
  'Mean wage RSE': 0.3,
  'state': 'ga'},
 {'Occupation code': 450000.0,
  'Occupation title': 'Farming, Fishing, and Forestry Occupations',
  'Level': 'major',
  'Employment': 11350.0,
  'Employment RSE': 7.8,
  'Employment per 1,000 jobs': 2.583,
  'Location quotient': 0.78,
  'Median hourly wage': 12.52,
  'Mean hourly wage': 14.55,
  'Annual mean wage': 30260.0,
  'Mean wage RSE': 2.0,
  'state': 'ga'},
 {'Occupation code': 470000.0,
  'Occupation title': 'Construction and Extraction Occupations',
  'Level': 'major',
  'Employment': 147410.0,
  'Employment RSE': 1.8,
  'Employment per 1,000 jobs': 33.542,
  'Location quotient': 0.81,
  'Median hourly wage': 18.41,
  'Mean hourly wage': 20.71,
  'Annual mean wage': 43080.0,
  'Mean wage RSE': 1.0,
  'state': 'ga'},
 {'Occupation code': 490000.0,
  'Occupation title': 'Installation, Maintenance, and Repair Occupations',
  'Level': 'major',
  'Employment': 182390.0,
  'Employment RSE': 1.4,
  'Employment per 1,000 jobs': 41.501,
  'Location quotient': 1.07,
  'Median hourly wage': 20.95,
  'Mean hourly wage': 22.47,
  'Annual mean wage': 46730.0,
  'Mean wage RSE': 1.0,
  'state': 'ga'},
 {'Occupation code': 510000.0,
  'Occupation title': 'Production Occupations',
  'Level': 'major',
  'Employment': 311820.0,
  'Employment RSE': 1.3,
  'Employment per 1,000 jobs': 70.954,
  'Location quotient': 1.13,
  'Median hourly wage': 15.0,
  'Mean hourly wage': 16.83,
  'Annual mean wage': 35000.0,
  'Mean wage RSE': 0.7,
  'state': 'ga'},
 {'Occupation code': 530000.0,
  'Occupation title': 'Transportation and Material Moving Occupations',
  'Level': 'major',
  'Employment': 385080.0,
  'Employment RSE': 1.5,
  'Employment per 1,000 jobs': 87.622,
  'Location quotient': 1.24,
  'Median hourly wage': 14.71,
  'Mean hourly wage': 17.23,
  'Annual mean wage': 35830.0,
  'Mean wage RSE': 2.2,
  'state': 'ga'},
 {'Occupation code': 110000.0,
  'Occupation title': 'Management Occupations',
  'Level': 'major',
  'Employment': 453460.0,
  'Employment RSE': 1.1,
  'Employment per 1,000 jobs': 75.687,
  'Location quotient': 1.44,
  'Median hourly wage': 47.87,
  'Mean hourly wage': 55.57,
  'Annual mean wage': 115580.0,
  'Mean wage RSE': 0.6,
  'state': 'il'},
 {'Occupation code': 130000.0,
  'Occupation title': 'Business and Financial Operations Occupations',
  'Level': 'major',
  'Employment': 335360.0,
  'Employment RSE': 1.4,
  'Employment per 1,000 jobs': 55.975,
  'Location quotient': 1.05,
  'Median hourly wage': 32.25,
  'Mean hourly wage': 36.35,
  'Annual mean wage': 75600.0,
  'Mean wage RSE': 0.8,
  'state': 'il'},
 {'Occupation code': 150000.0,
  'Occupation title': 'Computer and Mathematical Occupations',
  'Level': 'major',
  'Employment': 177530.0,
  'Employment RSE': 2.2,
  'Employment per 1,000 jobs': 29.632,
  'Location quotient': 0.98,
  'Median hourly wage': 40.65,
  'Mean hourly wage': 42.17,
  'Annual mean wage': 87720.0,
  'Mean wage RSE': 0.7,
  'state': 'il'},
 {'Occupation code': 170000.0,
  'Occupation title': 'Architecture and Engineering Occupations',
  'Level': 'major',
  'Employment': 88180.0,
  'Employment RSE': 2.4,
  'Employment per 1,000 jobs': 14.718,
  'Location quotient': 0.83,
  'Median hourly wage': 38.11,
  'Mean hourly wage': 40.26,
  'Annual mean wage': 83730.0,
  'Mean wage RSE': 0.8,
  'state': 'il'},
 {'Occupation code': 190000.0,
  'Occupation title': 'Life, Physical, and Social Science Occupations',
  'Level': 'major',
  'Employment': 36690.0,
  'Employment RSE': 6.8,
  'Employment per 1,000 jobs': 6.124,
  'Location quotient': 0.76,
  'Median hourly wage': 30.39,
  'Mean hourly wage': 34.05,
  'Annual mean wage': 70810.0,
  'Mean wage RSE': 2.1,
  'state': 'il'},
 {'Occupation code': 210000.0,
  'Occupation title': 'Community and Social Service Occupations',
  'Level': 'major',
  'Employment': 84550.0,
  'Employment RSE': 2.2,
  'Employment per 1,000 jobs': 14.112,
  'Location quotient': 0.94,
  'Median hourly wage': 21.08,
  'Mean hourly wage': 23.4,
  'Annual mean wage': 48670.0,
  'Mean wage RSE': 1.5,
  'state': 'il'},
 {'Occupation code': 230000.0,
  'Occupation title': 'Legal Occupations',
  'Level': 'major',
  'Employment': 49630.0,
  'Employment RSE': 2.6,
  'Employment per 1,000 jobs': 8.284,
  'Location quotient': 1.06,
  'Median hourly wage': 43.07,
  'Mean hourly wage': 58.1,
  'Annual mean wage': 120850.0,
  'Mean wage RSE': 3.1,
  'state': 'il'},
 {'Occupation code': 250000.0,
  'Occupation title': 'Education, Training, and Library Occupations',
  'Level': 'major',
  'Employment': 375430.0,
  'Employment RSE': 1.1,
  'Employment per 1,000 jobs': 62.663,
  'Location quotient': 1.03,
  'Median hourly wage': 23.17,
  'Mean hourly wage': 26.72,
  'Annual mean wage': 55570.0,
  'Mean wage RSE': 2.3,
  'state': 'il'},
 {'Occupation code': 270000.0,
  'Occupation title': 'Arts, Design, Entertainment, Sports, and Media Occupations',
  'Level': 'major',
  'Employment': 74740.0,
  'Employment RSE': 2.5,
  'Employment per 1,000 jobs': 12.475,
  'Location quotient': 0.93,
  'Median hourly wage': 22.06,
  'Mean hourly wage': 25.83,
  'Annual mean wage': 53730.0,
  'Mean wage RSE': 1.4,
  'state': 'il'},
 {'Occupation code': 290000.0,
  'Occupation title': 'Healthcare Practitioners and Technical Occupations',
  'Level': 'major',
  'Employment': 354250.0,
  'Employment RSE': 1.4,
  'Employment per 1,000 jobs': 59.127,
  'Location quotient': 0.99,
  'Median hourly wage': 32.28,
  'Mean hourly wage': 38.3,
  'Annual mean wage': 79660.0,
  'Mean wage RSE': 1.0,
  'state': 'il'},
 {'Occupation code': 310000.0,
  'Occupation title': 'Healthcare Support Occupations',
  'Level': 'major',

# Load- MongoDB

In [50]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [51]:
# Define database and collection
db = client.salaries
collection = db.state_salaries

In [52]:
collection.insert_many(state_dict)

In [53]:
sal_list=collection.find()

In [54]:
for i in sal_list:
    print(i)

{'_id': ObjectId('5e1e6e1552a5a612bc33e8f0'), 'Occupation code': 110000.0, 'Occupation title': 'Management Occupations', 'Level': 'major', 'Employment': 482770.0, 'Employment RSE': 0.8, 'Employment per 1,000 jobs': 51.438, 'Location quotient': 0.98, 'Median hourly wage': 64.36, 'Mean hourly wage': 74.95, 'Annual mean wage': 155900.0, 'Mean wage RSE': 0.7, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e8f1'), 'Occupation code': 130000.0, 'Occupation title': 'Business and Financial Operations Occupations', 'Level': 'major', 'Employment': 571050.0, 'Employment RSE': 1.4, 'Employment per 1,000 jobs': 60.843, 'Location quotient': 1.14, 'Median hourly wage': 38.14, 'Mean hourly wage': 45.55, 'Annual mean wage': 94740.0, 'Mean wage RSE': 0.9, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e8f2'), 'Occupation code': 150000.0, 'Occupation title': 'Computer and Mathematical Occupations', 'Level': 'major', 'Employment': 264620.0, 'Employment RSE': 1.4, 'Employment per 1,000 jobs': 28.194, 'Location quotient': 0.93, 'Median hourly wage': 43.3, 'Mean hourly wage': 46.79, 'Annual mean wage': 97320.0, 'Mean wage RSE': 0.8, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e8f3'), 'Occupation code': 170000.0, 'Occupation title': 'Architecture and Engineering Occupations', 'Level': 'major', 'Employment': 112120.0, 'Employment RSE': 2.1, 'Employment per 1,000 jobs': 11.946, 'Location quotient': 0.68, 'Median hourly wage': 39.02, 'Mean hourly wage': 43.06, 'Annual mean wage': 89560.0, 'Mean wage RSE': 1.0, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e8f4'), 'Occupation code': 190000.0, 'Occupation title': 'Life, Physical, and Social Science Occupations', 'Level': 'major', 'Employment': 67740.0, 'Employment RSE': 3.6, 'Employment per 1,000 jobs': 7.218, 'Location quotient': 0.89, 'Median hourly wage': 32.06, 'Mean hourly wage': 36.67, 'Annual mean wage': 76270.0, 'Mean wage RSE': 1.6, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e8f5'), 'Occupation code': 210000.0, 'Occupation title': 'Community and Social Service Occupations', 'Level': 'major', 'Employment': 191680.0, 'Employment RSE': 1.3, 'Employment per 1,000 jobs': 20.422, 'Location quotient': 1.36, 'Median hourly wage': 23.45, 'Mean hourly wage': 25.78, 'Annual mean wage': 53620.0, 'Mean wage RSE': 1.3, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e8f6'), 'Occupation code': 230000.0, 'Occupation title': 'Legal Occupations', 'Level': 'major', 'Employment': 114010.0, 'Employment RSE': 1.7, 'Employment per 1,000 jobs': 12.148, 'Location quotient': 1.56, 'Median hourly wage': 51.14, 'Mean hourly wage': 65.45, 'Annual mean wage': 136140.0, 'Mean wage RSE': 2.4, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e8f7'), 'Occupation code': 250000.0, 'Occupation title': 'Education, Training, and Library Occupations', 'Level': 'major', 'Employment': 690330.0, 'Employment RSE': 1.2, 'Employment per 1,000 jobs': 73.552, 'Location quotient': 1.21, 'Median hourly wage': 28.84, 'Mean hourly wage': 33.78, 'Annual mean wage': 70260.0, 'Mean wage RSE': 1.8, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e8f8'), 'Occupation code': 270000.0, 'Occupation title': 'Arts, Design, Entertainment, Sports, and Media Occupations', 'Level': 'major', 'Employment': 207900.0, 'Employment RSE': 1.7, 'Employment per 1,000 jobs': 22.151, 'Location quotient': 1.64, 'Median hourly wage': 31.04, 'Mean hourly wage': 38.4, 'Annual mean wage': 79870.0, 'Mean wage RSE': 1.2, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e8f9'), 'Occupation code': 290000.0, 'Occupation title': 'Healthcare Practitioners and Technical Occupations', 'Level': 'major', 'Employment': 545670.0, 'Employment RSE': 1.0, 'Employment per 1,000 jobs': 58.138, 'Location quotient': 0.97, 'Median hourly wage': 37.3, 'Mean hourly wage': 43.53, 'Annual mean wage': 90540.0, 'Mean wage RSE': 1.2, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e8fa'), 'Occupation code': 310000.0, 'Occupation title': 'Healthcare Support Occupations', 'Level': 'major', 'Employment': 376080.0, 'Employment RSE': 2.0, 'Employment per 1,000 jobs': 40.07, 'Location quotient': 1.41, 'Median hourly wage': 13.9, 'Mean hourly wage': 15.53, 'Annual mean wage': 32310.0, 'Mean wage RSE': 1.1, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e8fb'), 'Occupation code': 330000.0, 'Occupation title': 'Protective Service Occupations', 'Level': 'major', 'Employment': 313240.0, 'Employment RSE': 2.0, 'Employment per 1,000 jobs': 33.375, 'Location quotient': 1.41, 'Median hourly wage': 22.11, 'Mean hourly wage': 26.38, 'Annual mean wage': 54870.0, 'Mean wage RSE': 2.9, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e8fc'), 'Occupation code': 350000.0, 'Occupation title': 'Food Preparation and Serving Related Occupations', 'Level': 'major', 'Employment': 773400.0, 'Employment RSE': 0.8, 'Employment per 1,000 jobs': 82.402, 'Location quotient': 0.89, 'Median hourly wage': 12.53, 'Mean hourly wage': 14.91, 'Annual mean wage': 31000.0, 'Mean wage RSE': 0.8, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e8fd'), 'Occupation code': 370000.0, 'Occupation title': 'Building and Grounds Cleaning and Maintenance Occupations', 'Level': 'major', 'Employment': 310580.0, 'Employment RSE': 1.2, 'Employment per 1,000 jobs': 33.091, 'Location quotient': 1.08, 'Median hourly wage': 15.45, 'Mean hourly wage': 17.54, 'Annual mean wage': 36470.0, 'Mean wage RSE': 0.8, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e8fe'), 'Occupation code': 390000.0, 'Occupation title': 'Personal Care and Service Occupations', 'Level': 'major', 'Employment': 454170.0, 'Employment RSE': 1.5, 'Employment per 1,000 jobs': 48.39, 'Location quotient': 1.28, 'Median hourly wage': 12.97, 'Mean hourly wage': 15.31, 'Annual mean wage': 31830.0, 'Mean wage RSE': 0.9, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e8ff'), 'Occupation code': 410000.0, 'Occupation title': 'Sales and Related Occupations', 'Level': 'major', 'Employment': 923140.0, 'Employment RSE': 0.9, 'Employment per 1,000 jobs': 98.357, 'Location quotient': 0.98, 'Median hourly wage': 14.76, 'Mean hourly wage': 26.06, 'Annual mean wage': 54200.0, 'Mean wage RSE': 1.7, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e900'), 'Occupation code': 430000.0, 'Occupation title': 'Office and Administrative Support Occupations', 'Level': 'major', 'Employment': 1480630.0, 'Employment RSE': 0.6, 'Employment per 1,000 jobs': 157.755, 'Location quotient': 1.05, 'Median hourly wage': 19.01, 'Mean hourly wage': 21.28, 'Annual mean wage': 44250.0, 'Mean wage RSE': 0.4, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e901'), 'Occupation code': 450000.0, 'Occupation title': 'Farming, Fishing, and Forestry Occupations', 'Level': 'major', 'Employment': 5260.0, 'Employment RSE': 28.2, 'Employment per 1,000 jobs': 0.561, 'Location quotient': 0.17, 'Median hourly wage': 15.37, 'Mean hourly wage': 18.05, 'Annual mean wage': 37540.0, 'Mean wage RSE': 1.7, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e902'), 'Occupation code': 470000.0, 'Occupation title': 'Construction and Extraction Occupations', 'Level': 'major', 'Employment': 346320.0, 'Employment RSE': 1.1, 'Employment per 1,000 jobs': 36.899, 'Location quotient': 0.9, 'Median hourly wage': 27.45, 'Mean hourly wage': 31.14, 'Annual mean wage': 64770.0, 'Mean wage RSE': 0.8, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e903'), 'Occupation code': 490000.0, 'Occupation title': 'Installation, Maintenance, and Repair Occupations', 'Level': 'major', 'Employment': 311850.0, 'Employment RSE': 1.4, 'Employment per 1,000 jobs': 33.226, 'Location quotient': 0.85, 'Median hourly wage': 23.97, 'Mean hourly wage': 25.75, 'Annual mean wage': 53560.0, 'Mean wage RSE': 0.8, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e904'), 'Occupation code': 510000.0, 'Occupation title': 'Production Occupations', 'Level': 'major', 'Employment': 327890.0, 'Employment RSE': 1.3, 'Employment per 1,000 jobs': 34.935, 'Location quotient': 0.55, 'Median hourly wage': 17.15, 'Mean hourly wage': 19.74, 'Annual mean wage': 41060.0, 'Mean wage RSE': 0.5, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e905'), 'Occupation code': 530000.0, 'Occupation title': 'Transportation and Material Moving Occupations', 'Level': 'major', 'Employment': 515160.0, 'Employment RSE': 1.1, 'Employment per 1,000 jobs': 54.888, 'Location quotient': 0.78, 'Median hourly wage': 17.52, 'Mean hourly wage': 20.66, 'Annual mean wage': 42960.0, 'Mean wage RSE': 1.5, 'state': 'ny'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e906'), 'Occupation code': 110000.0, 'Occupation title': 'Management Occupations', 'Level': 'major', 'Employment': 248840.0, 'Employment RSE': 1.0, 'Employment per 1,000 jobs': 56.622, 'Location quotient': 1.08, 'Median hourly wage': 49.14, 'Mean hourly wage': 56.69, 'Annual mean wage': 117910.0, 'Mean wage RSE': 0.6, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e907'), 'Occupation code': 130000.0, 'Occupation title': 'Business and Financial Operations Occupations', 'Level': 'major', 'Employment': 242400.0, 'Employment RSE': 1.3, 'Employment per 1,000 jobs': 55.156, 'Location quotient': 1.03, 'Median hourly wage': 31.29, 'Mean hourly wage': 35.06, 'Annual mean wage': 72920.0, 'Mean wage RSE': 0.7, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e908'), 'Occupation code': 150000.0, 'Occupation title': 'Computer and Mathematical Occupations', 'Level': 'major', 'Employment': 148690.0, 'Employment RSE': 2.0, 'Employment per 1,000 jobs': 33.834, 'Location quotient': 1.12, 'Median hourly wage': 40.73, 'Mean hourly wage': 42.59, 'Annual mean wage': 88590.0, 'Mean wage RSE': 1.1, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e909'), 'Occupation code': 170000.0, 'Occupation title': 'Architecture and Engineering Occupations', 'Level': 'major', 'Employment': 62570.0, 'Employment RSE': 2.1, 'Employment per 1,000 jobs': 14.238, 'Location quotient': 0.81, 'Median hourly wage': 36.57, 'Mean hourly wage': 38.93, 'Annual mean wage': 80970.0, 'Mean wage RSE': 1.3, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e90a'), 'Occupation code': 190000.0, 'Occupation title': 'Life, Physical, and Social Science Occupations', 'Level': 'major', 'Employment': 25580.0, 'Employment RSE': 2.3, 'Employment per 1,000 jobs': 5.822, 'Location quotient': 0.72, 'Median hourly wage': 28.85, 'Mean hourly wage': 32.51, 'Annual mean wage': 67610.0, 'Mean wage RSE': 2.7, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e90b'), 'Occupation code': 210000.0, 'Occupation title': 'Community and Social Service Occupations', 'Level': 'major', 'Employment': 50540.0, 'Employment RSE': 2.3, 'Employment per 1,000 jobs': 11.5, 'Location quotient': 0.77, 'Median hourly wage': 20.11, 'Mean hourly wage': 22.49, 'Annual mean wage': 46770.0, 'Mean wage RSE': 3.3, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e90c'), 'Occupation code': 230000.0, 'Occupation title': 'Legal Occupations', 'Level': 'major', 'Employment': 33410.0, 'Employment RSE': 2.2, 'Employment per 1,000 jobs': 7.602, 'Location quotient': 0.98, 'Median hourly wage': 36.0, 'Mean hourly wage': 48.8, 'Annual mean wage': 101500.0, 'Mean wage RSE': 3.9, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e90d'), 'Occupation code': 250000.0, 'Occupation title': 'Education, Training, and Library Occupations', 'Level': 'major', 'Employment': 270530.0, 'Employment RSE': 1.3, 'Employment per 1,000 jobs': 61.558, 'Location quotient': 1.01, 'Median hourly wage': 23.19, 'Mean hourly wage': 24.58, 'Annual mean wage': 51130.0, 'Mean wage RSE': 2.8, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e90e'), 'Occupation code': 270000.0, 'Occupation title': 'Arts, Design, Entertainment, Sports, and Media Occupations', 'Level': 'major', 'Employment': 61040.0, 'Employment RSE': 4.3, 'Employment per 1,000 jobs': 13.889, 'Location quotient': 1.03, 'Median hourly wage': 22.48, 'Mean hourly wage': 26.37, 'Annual mean wage': 54850.0, 'Mean wage RSE': 3.2, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e90f'), 'Occupation code': 290000.0, 'Occupation title': 'Healthcare Practitioners and Technical Occupations', 'Level': 'major', 'Employment': 247850.0, 'Employment RSE': 1.3, 'Employment per 1,000 jobs': 56.397, 'Location quotient': 0.94, 'Median hourly wage': 29.56, 'Mean hourly wage': 36.39, 'Annual mean wage': 75690.0, 'Mean wage RSE': 1.3, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e910'), 'Occupation code': 310000.0, 'Occupation title': 'Healthcare Support Occupations', 'Level': 'major', 'Employment': 103640.0, 'Employment RSE': 2.3, 'Employment per 1,000 jobs': 23.582, 'Location quotient': 0.83, 'Median hourly wage': 13.41, 'Mean hourly wage': 14.38, 'Annual mean wage': 29910.0, 'Mean wage RSE': 0.9, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e911'), 'Occupation code': 330000.0, 'Occupation title': 'Protective Service Occupations', 'Level': 'major', 'Employment': 106440.0, 'Employment RSE': 2.4, 'Employment per 1,000 jobs': 24.221, 'Location quotient': 1.02, 'Median hourly wage': 17.4, 'Mean hourly wage': 18.99, 'Annual mean wage': 39510.0, 'Mean wage RSE': 1.4, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e912'), 'Occupation code': 350000.0, 'Occupation title': 'Food Preparation and Serving Related Occupations', 'Level': 'major', 'Employment': 418900.0, 'Employment RSE': 0.9, 'Employment per 1,000 jobs': 95.319, 'Location quotient': 1.03, 'Median hourly wage': 9.29, 'Mean hourly wage': 10.35, 'Annual mean wage': 21520.0, 'Mean wage RSE': 0.6, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e913'), 'Occupation code': 370000.0, 'Occupation title': 'Building and Grounds Cleaning and Maintenance Occupations', 'Level': 'major', 'Employment': 112340.0, 'Employment RSE': 1.6, 'Employment per 1,000 jobs': 25.563, 'Location quotient': 0.84, 'Median hourly wage': 11.6, 'Mean hourly wage': 12.69, 'Annual mean wage': 26400.0, 'Mean wage RSE': 1.0, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e914'), 'Occupation code': 390000.0, 'Occupation title': 'Personal Care and Service Occupations', 'Level': 'major', 'Employment': 108110.0, 'Employment RSE': 2.9, 'Employment per 1,000 jobs': 24.6, 'Location quotient': 0.65, 'Median hourly wage': 10.59, 'Mean hourly wage': 12.52, 'Annual mean wage': 26040.0, 'Mean wage RSE': 1.3, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e915'), 'Occupation code': 410000.0, 'Occupation title': 'Sales and Related Occupations', 'Level': 'major', 'Employment': 472320.0, 'Employment RSE': 1.2, 'Employment per 1,000 jobs': 107.474, 'Location quotient': 1.07, 'Median hourly wage': 12.05, 'Mean hourly wage': 18.16, 'Annual mean wage': 37770.0, 'Mean wage RSE': 1.0, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e916'), 'Occupation code': 430000.0, 'Occupation title': 'Office and Administrative Support Occupations', 'Level': 'major', 'Employment': 643490.0, 'Employment RSE': 0.9, 'Employment per 1,000 jobs': 146.422, 'Location quotient': 0.97, 'Median hourly wage': 16.17, 'Mean hourly wage': 17.63, 'Annual mean wage': 36670.0, 'Mean wage RSE': 0.3, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e917'), 'Occupation code': 450000.0, 'Occupation title': 'Farming, Fishing, and Forestry Occupations', 'Level': 'major', 'Employment': 11350.0, 'Employment RSE': 7.8, 'Employment per 1,000 jobs': 2.583, 'Location quotient': 0.78, 'Median hourly wage': 12.52, 'Mean hourly wage': 14.55, 'Annual mean wage': 30260.0, 'Mean wage RSE': 2.0, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e918'), 'Occupation code': 470000.0, 'Occupation title': 'Construction and Extraction Occupations', 'Level': 'major', 'Employment': 147410.0, 'Employment RSE': 1.8, 'Employment per 1,000 jobs': 33.542, 'Location quotient': 0.81, 'Median hourly wage': 18.41, 'Mean hourly wage': 20.71, 'Annual mean wage': 43080.0, 'Mean wage RSE': 1.0, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e919'), 'Occupation code': 490000.0, 'Occupation title': 'Installation, Maintenance, and Repair Occupations', 'Level': 'major', 'Employment': 182390.0, 'Employment RSE': 1.4, 'Employment per 1,000 jobs': 41.501, 'Location quotient': 1.07, 'Median hourly wage': 20.95, 'Mean hourly wage': 22.47, 'Annual mean wage': 46730.0, 'Mean wage RSE': 1.0, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e91a'), 'Occupation code': 510000.0, 'Occupation title': 'Production Occupations', 'Level': 'major', 'Employment': 311820.0, 'Employment RSE': 1.3, 'Employment per 1,000 jobs': 70.954, 'Location quotient': 1.13, 'Median hourly wage': 15.0, 'Mean hourly wage': 16.83, 'Annual mean wage': 35000.0, 'Mean wage RSE': 0.7, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e91b'), 'Occupation code': 530000.0, 'Occupation title': 'Transportation and Material Moving Occupations', 'Level': 'major', 'Employment': 385080.0, 'Employment RSE': 1.5, 'Employment per 1,000 jobs': 87.622, 'Location quotient': 1.24, 'Median hourly wage': 14.71, 'Mean hourly wage': 17.23, 'Annual mean wage': 35830.0, 'Mean wage RSE': 2.2, 'state': 'ga'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e91c'), 'Occupation code': 110000.0, 'Occupation title': 'Management Occupations', 'Level': 'major', 'Employment': 453460.0, 'Employment RSE': 1.1, 'Employment per 1,000 jobs': 75.687, 'Location quotient': 1.44, 'Median hourly wage': 47.87, 'Mean hourly wage': 55.57, 'Annual mean wage': 115580.0, 'Mean wage RSE': 0.6, 'state': 'il'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e91d'), 'Occupation code': 130000.0, 'Occupation title': 'Business and Financial Operations Occupations', 'Level': 'major', 'Employment': 335360.0, 'Employment RSE': 1.4, 'Employment per 1,000 jobs': 55.975, 'Location quotient': 1.05, 'Median hourly wage': 32.25, 'Mean hourly wage': 36.35, 'Annual mean wage': 75600.0, 'Mean wage RSE': 0.8, 'state': 'il'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e91e'), 'Occupation code': 150000.0, 'Occupation title': 'Computer and Mathematical Occupations', 'Level': 'major', 'Employment': 177530.0, 'Employment RSE': 2.2, 'Employment per 1,000 jobs': 29.632, 'Location quotient': 0.98, 'Median hourly wage': 40.65, 'Mean hourly wage': 42.17, 'Annual mean wage': 87720.0, 'Mean wage RSE': 0.7, 'state': 'il'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e91f'), 'Occupation code': 170000.0, 'Occupation title': 'Architecture and Engineering Occupations', 'Level': 'major', 'Employment': 88180.0, 'Employment RSE': 2.4, 'Employment per 1,000 jobs': 14.718, 'Location quotient': 0.83, 'Median hourly wage': 38.11, 'Mean hourly wage': 40.26, 'Annual mean wage': 83730.0, 'Mean wage RSE': 0.8, 'state': 'il'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e920'), 'Occupation code': 190000.0, 'Occupation title': 'Life, Physical, and Social Science Occupations', 'Level': 'major', 'Employment': 36690.0, 'Employment RSE': 6.8, 'Employment per 1,000 jobs': 6.124, 'Location quotient': 0.76, 'Median hourly wage': 30.39, 'Mean hourly wage': 34.05, 'Annual mean wage': 70810.0, 'Mean wage RSE': 2.1, 'state': 'il'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e921'), 'Occupation code': 210000.0, 'Occupation title': 'Community and Social Service Occupations', 'Level': 'major', 'Employment': 84550.0, 'Employment RSE': 2.2, 'Employment per 1,000 jobs': 14.112, 'Location quotient': 0.94, 'Median hourly wage': 21.08, 'Mean hourly wage': 23.4, 'Annual mean wage': 48670.0, 'Mean wage RSE': 1.5, 'state': 'il'}
{'_id': ObjectId('5e1e6e1552a5a612bc33e922'), 'Occupation code': 230000.0, 'Occupation title': 'Legal Occupations', 'Level': 'major', 'Employment': 49630.0, 'Employment RSE': 2.6, 'Employment per 1,000 jobs': 8.284, 'Location quotient': 1.06, 'Median hourly wage': 43.07, 'Mean hourly wage': 58.1, 'Annual mean wage': 120850.0, 'Mean wage RSE': 3.1, 'state': 'il'}